.full-scroll-menu {
    background-color: #6e6e6e;
}

.full-scroll-footer .sub-footer .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
    background-color: #6e6e6e;
}


.my_top_margin{
    margin-top: 6%;
}

.blog-detail-page .comment-section li {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #eee;
}