{% extends 'frontend/index.html' %}
 {% block seo_data %}
        <title>{{ site_title }} |Οροι Χρησης </title>
        <meta name="description" content="Καλώς ήρθατε στο κατάστημά μας, optika kotsalis. Εδώ θα βρείτε μεγάλη ποικιλία απο γυαλιά ηλιού και οράσεως.">
    {% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section my_top_margin">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Οροι Χρησης</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Οροι Χρησης</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->

<section style="background-color: white" class="section-b-space blog-detail-page review-page">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="{% url 'personal_data_view' %}" class="btn btn-solid">Προσωπικα Δεδομενα</a>
            </div>
        </div>
        <br> <hr>
        <div class="row">
            <div class="col-sm-12">
                <ul class="comment-section">
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>1.) Προσβαση/Επικοινωνια</h6>
                                <p>
                                    Η εταιρία Black&White  παρέχει στους επισκέπτες/χρήστες του διαδικτυακού τόπου www.black&white.gr υπηρεσίες ηλεκτρονικού εμπορίου,με τη δυνατότητα αγοράς προϊόντων μέσω εφαρμογών
                                    ηλεκτρονικού εμπορίου σύμφωνα με τους ειδικότερους όρους που αυτό τάσσει, μεριμνώντας για την προστασία των προσωπικών στοιχείων που υποβάλλονται για τη χρήση των υπηρεσιών αυτών,
                                    σύμφωνα με τις διατάξεις της κείμενης ημεδαπής νομοθεσίας (Π.Δ. 131/2003,Ν.2251/1994) και του κοινοτικού δικαίου. Ο επισκέπτης έχει πρόσβαση στην ιστοσελίδα πληκτρολογώντας τη
                                    διεύθυνση του διαδικτυακού τόπου «www.black&white.gr» σε οποιαδήποτε διαδικτυακή μηχανή αναζήτησης της οποίας κάνει χρήση. Οι ήδη υπάρχουσες καθώς και οποιεσδήποτε νέες υπηρεσίες
                                    συμπεριληφθούν στο www.black&white.gr υπόκεινται στους παρόντες όρους χρήσης, εκτός αν ρητά αναφέρεται το αντίθετο. Ο επισκέπτης/χρήστης του διαδυκτιακού τόπου www.optikakotsalis.gr
                                    έχει άμεση πρόσβαση στα στοιχεία επικοινωνίας του καταστήματος «black&white» και του διαδικτυακού τόπου www.black&white.gr , στον οποίο και έχουν αναρτηθεί στο εικονίδιο «Επικοινωνία»
                                    ο αριθμός τηλεφώνου του καταστήματος, αριθμός τηλεμοιότυπου (fax) και διευθυνση ηλεκτρονικού ταχυδρομείου (e-mail).
                                    Η πρόσβαση στις σελίδες/υπηρεσίες του www.black&white.gr
                                    δεν συνεπάγεται κανένα επιπλέον κόστος για τον επισκέπτη /χρήστη, πέραν του ισχύοντος τιμολογιακού καθεστώτος
                                    για την γενική πρόσβαση στο Διαδίκτυο, όπως έχει διαμορφωθεί από τους αρμόδιους παροχείς (ISP's) και καταβάλλεται σε αυτούς και μόνο ,
                                    στη βάση της μεταξύ τους σύμφωνίας.

                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> 2.) Εγγραφη Χρηστη/Δημιουργια Λογαριασμου</h6>
                                <p>Εφόσον ο επισκέπτης/χρήστης επιθυμεί να εγγραφεί στις υπηρεσίες του www.black&white.gr βεβαιώνει ότι παρέχει αληθείς και
                                    πλήρεις πληροφορίες σχετικά με τα στοιχεία που του ζητούνται από το www.black&white.gr για πρόσβαση στα περιεχόμενα/υπηρεσίες του
                                    μέσω της δημιουργίας προσωπικού λογαριασμού . πελάτης πατώντας στο εικονίδιο «δημιουργία λογαριασμού» οφείλει να συμπληρώσει μια φόρμα,
                                    η οποία περιέχει τα εξής στοιχεία: Όνομα, Επίθετο, Επωνυμία Εταιρίας(περί νομικών προσώπων) Aριθμός Τηλεφώνου, Διέυθυνση, Πόλη, Χώρα, Περιφέρεια,
                                    Διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail), Αριθμός Τηλεoμοιότυπου (fax), Ταχυδρομικός Κώδικας, Κωδικός Πρόσβασης (Επιβεβαίωση Κωδικού Πρόσβασης).
                                    Σε αυτό το στάδιο ο πελάτης δημιουργεί τον προσωπικό του λογαριασμό. Ο πελάτης επίσης μπορεί να επιλέξει κατά το στάδιο της εγγραφής
                                    και αφού συμπληρώσει τα παραπάνω στοιχεία, αν επιθυμεί να λαμβάνει ενημερωτικά δελτία. O επισκέπτης της ιστοσελίδας έχει τη δυνατότητα εγγραφής
                                    στο ενημερωτικό δελτίο (newsletter), συμπληρώνοντας τα στοιχεία που προβλέπονται στην αντίστοιχη φόρμα (η οποία βρίσκεται στο εικονίδιο «Εγγραφή στο newsletter» ).
                                    Ο επισκέπτης ζητείται να συμπληρώσει το όνομα και την διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail). Με την εγγραφή στο ενημερωτικό δελτίο (newsletter) ,
                                    ο επισκέπτης θα λαμβάνει ενημερωτικά e-mail για τα προϊόντα, τις προσφορές και τις εκπτώσεις του καταστήματος. Ο επισκέπτης επίσης με την εγγραφή του κερδίζει
                                    αυτόματα έκπτωση 7% σε όλα τα προϊόντα (εξαιρούνται τα εκπτωτικά προϊόντα) του καταστήματος , για τις αγορές που θα πραγματοποιήσει..</p>

                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="media">
                            <div class="media-body">
                                <h6> 3.1) ΠΑΡΑΓΓΕΛΙΑ</h6>
                                <p>Ο πελάτης πραγματοποιεί την παραγγελία του όπως περιγράφεται παρακάτω.
                                    Η επικύρωση της παραγγελίας συνεπάγεται την αποδοχή των όρων πώλησης. - Ο πελάτης που ενδιαφέρεται για ένα προϊόν στην ιστοσελίδα μας ακολουθεί την παρακάτω διαδικασία για να ολοκληρώσει
                                    την παραγγελία του: Πατώντας το εικονίδιο «καλάθι» , ελέγχοντας τα στοιχεία της παραγγελίας (είδος, ποσότητα, επιπλέον χαρακτηριστικά)
                                    εν συνεχέια ο πελάτης επικυρώνει το επιλεγμένο προϊόν ή τα επιλεγμένα προϊόντα πατώντας το εικονίδιο «παραγγελία».
                                    - Κατά την πρώτη του παραγγελία ο πελάτης οφείλει να συμπληρώσει μια φόρμα, η οποία περιέχει τα εξής στοιχεία:
                                    Όνομα, Επίθετο, Επωνυμία Εταιρίας(περί νομικών προσώπων) Aριθμός Τηλεφώνου, Διέυθυνση, Πόλη, Χώρα, Περιφέρεια, Διεύθυνση ηλεκτρονικού ταχυδρομείου (e-mail), Αριθμός Τηλεμεμοιότυπου (fax),
                                    Ταχυδρομικός Κώδικας, Κωδικός Κάρτας Μέλους. Σε αυτό το στάδιο ο πελάτης δημιουργεί τον προσωπικό του λογαριασμό.
                                    Αφού επιλέξει τον τρόπο πληρωμής, ο πελάτης καλείται, (αφού βεβαιωθεί ως προς την ορθότητα των στοιχείων που παρέθεσε και την επιλογή του προϊόντος )
                                    να επικυρώσει οριστικά και αμετάκλητα την παραγγελία του πατώντας το εικονίδιο «επιβεβαίωση παραγγελίας».
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>3.2) ΠΛΗΡΩΜΗ</h6>
                                <p>Ι.Αντικαταβολή (Μετρητά στη παράδοση- «χέρι με χέρι»)
                                    Μπορείτε να εξοφλήσετε την παραγγελία σας κατά την παραλαβή του πακέτου σας.

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>5.) ΕΠΙΣΤΡΟΦΗ /ΑΛΛΑΓΗ /ΑΝΤΙΚΑΤΑΣΤΑΣΗ</h6>
                                <p>Όλα τα προϊόντα που αγοράζονται από την ιστοσελίδα www.black&white.gr δε μπορούν να επιστραφούν για αντικατάσταση/αλλαγή.
                                    Αντίθετα σε περίπτωση που είναι δικό μας λάθος, μπορούμε να σας αντικαταστήσουμε το προϊόν σας με δωρεάν.
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-body">
                                <h6>6.) ΕΠΙΣΤΡΟΦΗ ΧΡΗΜΑΤΩΝ</h6>
                                <p>Η πολιτική επιστροφής χρημάτων ακολουθείται στις παρακάτω περιπτώσεις : - Το προϊόν θα πρέπει να βρίσκεται στην αρχική του
                                    συσκευασία που είχε κατά την παραλαβή από τον πελάτη.
                                    Η πελάτης θέλει να ακυρώσει κάποια υπηρεσία που παρέχουμε και υποστηρίζετε η ακύρωση αυτής.
                                </p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->




{% endblock %}