{% extends 'frontend/index.html' %}

{% block extra_css %}
    <style>

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
    </style>
{% endblock %}

{% block content %}

    <!-- breadcrumb start -->
<div style="margin-top:  6%" class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Συνδρομες</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Συνδρομες</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
    <section style="background-color:#ddd" class="pricing py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                       Προσοχή μπορείτε να έχετε μόνο μια συνδρομή στο καλάθι σας ή ενεργή από κάθε κατηγορία.
                        Οτιδήποτε επιπλέον θέλετε να προσθέσετε στα προϊόντα σας δε αφορούν τις συνδρομές.
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Free Tier -->
                {% for subscribe in object_list %}
                    <div style='margin-bottom: 3%' class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">{{ subscribe.get_category_type_display }}</h5>
                                <h6 class="card-price text-center">{{ subscribe.value }}<span class="period">€</span></h6>
                                <hr>
                                <button style="margin-top: 7%" type="button" class="btn btn-block btn-info text-uppercase" data-toggle="modal" data-target="#Modal_{{ subscribe.id }}">
                                    Δειτε τα Προϊόντα της Συνδρομης
                                </button>
                                <hr>
                                <ul class="fa-ul">
                                    <li>- {{ subscribe.title }}</li>
                                    <br>
                                    <li> -Χρησεις {{ subscribe.uses }}. </li>
                                </ul>
                                <hr>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'add_subscribe_to_cart' subscribe.id %}" class="btn btn-block btn-solid text-uppercase">Προσθηκη στο καλαθι</a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-warning">Θα πρέπει να συνδεθειτε</a>
                                {% endif %}
                                <hr>
                                <!-- Button trigger modal -->

                                <!-- Modal -->
                                <div class="modal fade" id="Modal_{{ subscribe.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Προϊοντα</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Τιτλος</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in subscribe.products.all %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ product }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}