<table class="table">
    <thead>
    <tr>
        <th>Προϊον</th>
        <th>Τιμή</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    {% for product in object.products.all %}
        <tr>
            <td>{{ product }}</td>
            <td>{{ product.tag_final_price }}</td>
            <td>
                <a class="btn btn-warning add_button"
                   data-href="{% url 'subscribe:ajax_add_delete_product' object.id  product.id 'remove'%}" >
                    <i class="fa fa-minus "></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

 <script>
     $('.add_button').click(function (evt) {
            evt.preventDefault();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'GET',
                url: url,
                dataType: 'json',

                success: function (data) {
                    $('#result_container').html(data.result)
                }
            })
        })
 </script>