<!-- Modal -->{% load static %}

<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-header">
                 <h2>{{ product.title }}</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <a href="{{ product.get_absolute_url }}">
                        <div class="quick-view-img">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="" class="img-fluid blur-up lazyload">
                            {% else %}
                            <img src="{% static 'frontend/demo_images/no_image.png' %}" alt="" class="img-fluid blur-up lazyload">
                            {% endif %}
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h3>{{ product.tag_final_price }} {% if product.is_offer %}<span style="text-decoration: line-through; color: red">{{ product.tag_price }}</span>  {% endif %}</h3>

                            <div class="border-product">
                                <h6 class="product-title">Πληροφορίες</h6>
                                <p>{{ product.site_text|safe }}</p>
                            </div>
                            <br>
                            <form method="post" class="form" action='{% url "add_to_cart_with_attr" product.slug %}'>{% csrf_token %}
                                   {% for attr_header in product.attr_class.all %}
                                       <div class='container_{{ attr_header.id }}'>
                                           <h4 class="d-flex justify-content-between align-items-center mb-3">
                                               <span class="text-muted">{{ attr_header }}</span>
                                           </h4>
                                           <ul class="list-group mb-3">
                                               {% for attr in attr_header.my_attributes.all %}
                                                   {% if attr_header.class_related.is_radio_button %}
                                                   <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                       <div>
                                                           <div class="custom-control custom-radio">
                                                               <input value='{{ attr.id }}' name='attr_{{ attr_header.id }}' type="radio" class="custom-control-input attr_input attr_input_{{ attr_header.id }}"
                                                                      id="defaultUnchecked_{{ attr.id }}_{{ attr_header.id }}"
                                                                       {% if attr.title.take_action %}
                                                                        data-extra="{{ attr_header.id }}"
                                                                        data-href="{% url 'dashboard:ajax_show_or_hide_attr' attr_header.id %}"
                                                                       {% endif %}
                                                                    {% if attr_header.class_related.is_needed %} required {% endif %}
                                                               >
                                                               <label class="custom-control-label"
                                                                      for="defaultUnchecked_{{ attr.id }}_{{ attr_header.id }}">{{ attr }}
                                                               </label>
                                                           </div>
                                                       </div>
                                                   </li>
                                                   {% else %}
                                                       <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                           <div>
                                                               <div class="custom-control custom-checkbox">
                                                                   <input value='{{ attr.id }}'
                                                                          name='attr_{{ attr_header.id }}'
                                                                          type="checkbox"
                                                                          class="custom-control-input attr_input"
                                                                          id="defaultUnchecked_{{ attr.id }}_{{ attr_header.id }}"
                                                                           {% if attr.title.take_action %}
                                                                                data-extra="{{ attr_header.id }}" data-href="{% url 'dashboard:ajax_show_or_hide_attr' attr_header.id %}"
                                                                           {% endif %}
                                                                           {% if attr_header.class_related.is_needed %} required {% endif %}
                                                                   >
                                                                   <label class="custom-control-label" for="defaultUnchecked_{{ attr.id }}_{{ attr_header.id }}">{{ attr }}
                                                                   </label>
                                                               </div>
                                                           </div>
                                                       </li>
                                                   {% endif %}
                                               {% endfor %}
                                           </ul>
                                           <br>
                                       </div>
                                   {% endfor %}
                                   <div class="product-description border-product">
                                       <h6 class="product-title">Ποσότητα</h6>
                                       <div class="qty-box">
                                           <div class="input-group">
                                               <span class="input-group-prepend">
                                                   <button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                               <input type="text" name="qty" class="form-control input-number" value="1"> <span class="input-group-prepend">
                                               <button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="product-buttons">
                                       <button type="submit" data-target="#addtocart" class="btn btn-solid">Προσθηκη στο Καλαθι</button>
                                       <br /> <br />
                                   </div>
                            </form>
                            <br>
                            <div class="product-buttons">
                                <a href="{{ product.get_absolute_url }}" class="btn btn-solid">Λεπτομεριες</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick-view modal popup end-->



<script type="text/javascript">

    $('.attr_input').click(function(evt){
        const my_input = $(this);
        const new_val = my_input.attr('data-extra');
        const url = my_input.attr('data-href');
        if (new_val !== undefined){
            $.ajax({
                dataType: 'json',
                method: 'get',
                url: url,
                success: function (data) {
                    const my_class = '.container_'+ data.id;
                    $(my_class).hide();
                    $(".container_"+ new_val+ " :input").attr('data-remove', new_val);
                    $(".container_"+ new_val+ " :input").attr('data-remove-href', url);
                    const myClass = $('.my_attr_'+data.id);
                        for (i=0; i< myClass.length; i++){
                            myClass[i].checked = false;

                        }


                }
            })
        }

    });

    $('.attr_input').click(function (evt) {
        const myInput = $(this);
        const removeData = myInput.attr('data-remove');
        const new_val = myInput.attr('data-extra');
        const url = myInput.attr('data-remove-href');
        console.log(removeData);
        if (removeData !== undefined && new_val == undefined){
            $.ajax({
                dataType: 'json',
                method: 'get',
                url: url,
                success: function (data) {
                    const my_class = '.container_'+ data.id;
                    $(my_class).show('success')
                }
            });
            $(".container_"+ removeData + " :input").removeAttr('data-remove');
            $(".container_"+ removeData + " :input").removeAttr('data-remove-href');
        }
    })
</script>


