<!-- Modal -->{% load static %}

<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-header">
                 <h2>{{ product.title }}</h2>
            </div>
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <a href="{{ product.get_absolute_url }}">
                        <div class="quick-view-img">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="" class="img-fluid blur-up lazyload">
                            {% else %}
                            <img src="{% static 'frontend/demo_images/no_image.png' %}" alt="" class="img-fluid blur-up lazyload">
                            {% endif %}
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h3>{{ product.tag_final_price }} {% if product.is_offer %}<span style="text-decoration: line-through; color: red">{{ product.tag_price }}</span>  {% endif %}</h3>

                            <div class="border-product">
                                <h6 class="product-title">Πληροφορίες</h6>
                                <p>{{ product.site_text|safe }}</p>
                            </div>
                            <br>
                            <form method="post" class="form" action='{% url "add_to_cart_with_attr" product.slug %}'>{% csrf_token %}
                                {% for attr_header in product.attr_class.all %}
                                    <div class='container_{{ attr_header.id }}'>
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">{{ attr_header }}</span>
                                        </h4>
                                        {% if attr_header.class_related.is_radio_button %}
                                        <ul class="list-group mb-3">
                                            {% for attr in attr_header.my_attributes.all %}
                                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                    <div>
                                                        <div class="custom-control custom-radio">
                                                            <input value='{{ attr.id }}' name='attr_{{ attr_header.id }}' type="radio"
                                                                   class="custom-control-input attr_{{ attr_header.id }}"
                                                                   id="defaultUnchecked_{{ attr.id }}_{{ attr_header_id }}"
                                                                   {% if attr_header.class_related.is_needed %} required {% endif %}

                                                            >
                                                            <label class="custom-control-label" for="defaultUnchecked_{{ attr.id }}_{{ attr_header_id }}">{{ attr }}</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                            <ul class="list-group mb-3">
                                            {% for attr in attr_header.my_attributes.all %}
                                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                    <div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input value='{{ attr.id }}' name='attr_{{ attr_header.id }}' type="checkbox" class="custom-control-input attr_{{ attr_header.id }}" id="defaultUnchecked_{{ attr.id }}_{{ attr_header_id }}">
                                                            <label class="custom-control-label" for="defaultUnchecked_{{ attr.id }}_{{ attr_header_id }}">{{ attr }}</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <br>
                                    </div>
                                {% endfor %}
                                <div class="product-description border-product">
                                    <h6 class="product-title">Ποσότητα</h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                            <input type="text" name="qty" class="form-control input-number" value="1"> <span class="input-group-prepend">
                                            <button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons">
                                    <button type="submit" data-target="#addtocart" class="btn btn-solid">Προσθηκη στο Καλαθι</button>
                                    <br /> <br />
                                </div>
                            </form>

                            <br>




                            <div class="product-buttons">
                                <a href="{{ product.get_absolute_url }}" class="btn btn-solid">Λεπτομεριες</a>
                                <a href="{% url 'add_to_cart' product.slug %}"  class="btn btn-success btn-solid"> <i class="fa fa-cart-plus"></i> Προσθηκη</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick-view modal popup end-->

<script>
    $('.attr_5').change(function(evt){
        console.log('hey brother!')
        const my_input = $(this);
        const value  = my_input.val()
        if (value === '3'){
            console.log('thats correct boy string')
            $('.container_2').hide()
        } else {
            $('.container_2').show()
        }
    })
</script>


