{% extends 'frontend/user_views/dashboard.html' %} {% load render_table from django_tables2 %}


{% block profile_content %}
    <div class="col-lg-9">
        <div class="dashboard-right">
            <div class="dashboard">
                <div class="page-title">
                    <h2>{{ page_title }}</h2>
                </div>
                <div class="welcome-msg">
                  <br />
                </div>
                <div class="box-account box-info">
                    <div>
                        <div class="box">
                            <div class="row">
                                <div class="col-sm-12">
                                     {% render_table queryset_table %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $('.order_item_detail').click(function (evt) {
            evt.preventDefault();
            $('#modal_area').empty();
            const thisBtn = $(this);
            const url = thisBtn.attr('data-href');
            $.ajax({
                method: 'GET',
                url: url,
                dataType: 'json',

                 success: function (data) {
                    console.log('here');
                    $('#modal_area').html(data.result);
                    $('#quick_view_modal').modal('show');
                }

            })

        })
    </script>
{% endblock %}

