{% extends 'point_of_sale/dashboard.html' %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h4>Προσθήκη Προϊόντος {{ instance }}</h4></div>
                                    <div class="card-body">
                                        <form method="post"
                                              class="form"
                                        >
                                            {% csrf_token %}
                                            {% for attr_header in instance.attr_class.all %}
                                                <div class='container_{{ attr_header.id }}'>
                                                    <h4 class="d-flex justify-content-between align-items-center">
                                                        <span class="text-muted">{{ attr_header }}</span>
                                                    </h4>
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            {% if attr_header.class_related.is_radio_button %}
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text" for="inputGroupSelect01">==></label>
                                                                    </div>
                                                                    <select name='attr_{{ attr_header.id }}' class="custom-select" id="inputGroupSelect{{ attr_header.id }}">
                                                                        <option selected>Επιλογη...</option>
                                                                        {% for attr in attr_header.my_attributes.all %}
                                                                         <option value="{{ attr.id }}">{{ attr }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            {% else %}
                                                                {% for attr in attr_header.my_attributes.all %}
                                                                <div class="form-check">
                                                                    <input value='{{ attr.id }}'
                                                                                   name='attr_{{ attr_header.id }}'
                                                                                   type="checkbox"
                                                                                   class="form-control attr_input" id="defaultUnchecked_{{ attr.id }}_{{ attr_header.id }}"
                                                                            {% if attr.title.take_action %}
                                                                                   data-extra="{{ attr_header.id }}"
                                                                                   data-href="{% url 'dashboard:ajax_show_or_hide_attr' attr_header.id %}"
                                                                            {% endif %}
                                                                            {% if attr_header.class_related.is_needed %} required {% endif %}
                                                                            >
                                                                    <label class="custom-control-label"
                                                                           for="defaultUnchecked_{{ attr.id }}_{{ attr_header.id }}">{{ attr }}
                                                                    </label>
                                                                </div>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="product-description border-product">
                                                    <h6 class="product-title">Ποσότητα</h6>
                                                    <div class="qty-box">
                                                        <div class="input-group">
                                                            <span class="input-group-prepend">
                                                            <button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                                            <input type="text" name="qty" class="form-control input-number" value="1"> <span class="input-group-prepend">
                                                            <button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="product-buttons">
                                                        <button type="submit" data-target="#addtocart" class="btn btn-solid">Προσθηκη στο Καλαθι</button>
                                                        <br /> <br />
                                                    </div>
                                            </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script>
    $('.add_button').click(function (evt) {
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,
            success: function(data){
                $('#result_container').html(data.result)
            }
        })
    })
</script>

    <script>
        $('.edit_button').click(function (evt) {
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr('data-href');
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,

                success: function (data) {
                    $('#result_container').html(data.result)
                }
            })
        })
    </script>

{% endblock %}