{% extends 'site_settings/dashboard.html' %}


{% block content %}

    <!-- collection banner -->
<section class="banner-padding banner-furniture ratio2_1">
    <div class="container-fluid">
        <div class="row partition3">
            {% for category in object_list %}
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner p-left text-left">
                        <div class="img-part">
                            <img src="../assets/images/fashion/1.jpg" alt="" class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4>save 30%</h4>
                                <h2>women</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- collection banner end -->


{% endblock %}