{% extends 'frontend/user_views/dashboard.html' %}

{% block seo_data %}
    <title>{{ site_title }} | Λεπτομέριες Παραγγελίας </title>
{% endblock %}

{% block content %}


<!-- thank-you section start -->
<section style="margin-top: 7%" class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    {% if success_order %}
                        <h2>Σας ευχαριστουμε!</h2>
                        <p>Η παραγγελία σας ολοκληρώθηκε επιτυχώς. Θα σας αποστείλουμε τα προϊόντα μετά απο τηλεφωνική επικοινωνία. Σας ευχαριστούμε για την προτίμησή σας</p>
                        <p>Transaction ID: {{ order.number }}</p>
                        <hr>
                        <a href="{% url 'frontend_order_detail' order.number %}" class="btn btn-classic">Επεξεργασία Παραγγελίας</a>
                    {% else %}

                        <h2>{{ order.title }}</h2>
                        <hr><br>
                        {% if request.user.is_authenticated %}
                        <button type="button" data-toggle="modal" data-target="#reOrderModal"  class="btn btn-success">Επαναληψη Παραγγελιας</button>
                        <br> <br> <br>
                        {% if order.favorite_order %}
                            <a href="{% url 'order_change_status' order.id %}" class="btn btn-danger">Αφαιρεσε την απο Αγαπημενη Παραγγελια</a>
                        {% else %}
                            <a href="{% url 'order_change_status' order.id %}" class="btn btn-danger">Καντην Αγαπημενη Παραγγελια</a>
                        {% endif %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#nameModal">
                          Δωσε το δικο σου ονομα.
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Δώσε το δικό σου όνομα</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="post" class="form" action="{% url 'order_change_title' order.id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ονομασια</label>
                                            <input type="text" name="title" class="form-control"  placeholder="{{ order.title }}">
                                            <small id="emailHelp" class="form-text text-muted">Αλλάξτε το όνομα της παραγγελίας σας για εύκολο re-ordering</small>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-success"> Αποθηκευση </button>
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="reOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Επανάληψη Παραγγελίας</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <h4>Προϊόντα</h4>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Προϊόν</th>
                                                <th>Ποσοτητα</th>
                                                <th>Συνολική Αξία</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order_item in order.order_items.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ order_item.title }}</td>
                                                    <td>{{ order_item.qty }}</td>
                                                    <td>{{ order_item.tag_current_value }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                      <br><hr>
                                      <h4>Δώρα</h4>
                                      <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Προϊόν</th>
                                                <th>Ποσοτητα</th>
                                            </tr>
                                          </thead>
                                        <tbody>
                                            {% for order_item in order.gifts.all %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ order_item.product }}</td>
                                                    <td>{{ order_item.qty }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                      </table>
                                      <small>Προσοχή τα δώρα μπορεί να αλλάξουν με την δημιουργία νέας Παραγγελίας, σύμγωνα με τις τρέχοντες προσφορές του site</small>
                                      <hr>
                                        <ul class="list-group">
                                            <li class="list-group-item">Διευθυνση --> {{ order.tag_address }}</li>
                                            <li class="list-group-item">Τηλέφωνο --> {{ order.profile.tag_phones }}</li>

                                        </ul>
                                      <hr>
                                      <a href="" class="btn btn-success">Δημιουργία Παραγγελιας</a>
                                        <br><br>
                                      <a href="" class="btn btn-info">Προσθήκη των προϊόντων στο καλάθι</a>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    <p>Πρέπει αν συνδεθείτε για να επεξεργαστείτε την παραγγελία</p>
                                    <a href="{% url 'login' %}" class="btn btn-info">Συνδεση</a>
                                </div>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>Προϊόντα</h3>
                    <div class="row product-order-detail">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Προϊόν</th>
                                <th>Ποσότητα</th>
                                <th>Αξία</th>
                                <th>Συνολική Αξία</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in order.order_items.all %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ product.qty }}</td>
                                    <td>{{ product.tag_final_value }}</td>
                                    <td>{{ product.tag_total_value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>Αξία Προϊόντων <span>{{ order.tag_value }}</span></li>
                            <li>Κόστος Μεταφοράς <span>{{ order.tag_shipping_cost }}</span></li>
                            <li>Κόστος Αντικαταβολής <span>{{ order.tag_payment_cost }}</span></li>
                            <li>Έκπτωση <span>{{ order.tag_discount }}</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>Συνολο <span>{{ order.tag_final_value }}</span></h3>
                    </div>
                    <hr>
                    <h3>Δωρα</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Προϊόν</th>
                                <th>Ποσότητα</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gift in order.gifts.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ gift.product }}</td>
                                    <td>{{ gift.qty }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summery</h4>
                        <ul class="order-detail">
                            <li>Email: {{ order.guest_email }}</li>
                            <li>Order Date: {{ order.timestamp }}</li>
                             <li>{{ profile.cellphone }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>{{ order.profile.full_name }}</li>
                            <li>{{ profile.address }} </li>
                            <li>{{ profile.city }}, {{ profile.zip_code }}</li>

                        </ul>
                    </div>
                    <br>
                    <div class="col-sm-12 payment-mode">
                        <h4>Τροπος Πληρωμής</h4>
                        <p>{{ order.payment_method }}</p>
                    </div>
                     <div class="col-sm-12 payment-mode">
                        <h4>Τροπος Αποστολής</h4>
                        <p>{{ order.shipping_method }}</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>Κατάσταση</h3>
                            <h2>{{ order.get_status_display }}</h2></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br> <br><hr>
                <h3>Αναλυση</h3>
            </div>
            <div class="col-md-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for order_item in order.order_items.all %}
                        <a {% if forloop.first %}
                                class="list-group-item list-group-item-action active"
                           {% else %}
                                class="list-group-item list-group-item-action"
                           {% endif %}
                           id="list-home_{{ order_item.id }}"
                           data-toggle="list"
                           href="#list-home-list_{{ order_item.id }}"
                           role="tab"
                           aria-controls="home_{{ order_item.id }}">
                            {{ order_item.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="nav-tabContent">
                    {% for order_item in order.order_items.all %}
                        <div {% if forloop.first %}
                                class="tab-pane fade show active"
                            {% else %}
                                    class="tab-pane fade"
                            {% endif %}
                                 id="list-home-list_{{ order_item.id }}"
                                 role="tabpanel"
                                 aria-labelledby="list-home_{{ order_item.id }}"
                            >
                            <h4>Λεπτομεριες</h4>
                            <ul class="list-group list-group-flush">

                                {% for attr in order_item.attributes.all %}
                                    {% for item in attr.attribute.all %}
                                        <li class="list-group-item">{{ item.class_related.class_related }}  ==> {{ item.title }}</li>
                                    {% endfor %}
                                    {% empty %}
                                    <li class="list-group-item">Δε υπάρχουν στοιχεία</li>
                                {% endfor %}
                            </ul>

                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
</section>
<!-- Section ends -->


{% endblock %}