{% extends 'frontend/user_views/dashboard.html' %}

{% block seo_data %}
    <title>{{ site_title }} | Λεπτομέριες Παραγγελίας </title>
{% endblock %}

{% block content %}


<!-- thank-you section start -->
<section style="margin-top: 7%" class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Σας ευχαριστουμε!</h2>
                    <p>Η παραγγελία σας ολοκληρώθηκε επιτυχώς. Θα σας αποστείλουμε τα προϊόντα μετά απο τηλεφωνική επικοινωνία. Σας ευχαριστούμε για την προτίμησή σας</p>
                    <p>Transaction ID: {{ order.number }}</p>
                    <hr><br>
                    <button type="button" data-toggle="modal" data-target="#reOrderModal"  class="btn btn-success">Επαναληψη Παραγγελιας</button>
                    <br> <br> <br>
                    {% if order.favorite_order %}
                        <a href="{% url 'order_change_status' order.id %}" class="btn btn-danger">Αφαιρεσε την απο Αγαπημενη Παραγγελια</a>
                    {% else %}
                        <a href="{% url 'order_change_status' order.id %}" class="btn btn-danger">Καντην Αγαπημενη Παραγγελια</a>
                    {% endif %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#nameModal">
                      Δωσε το δικο σου ονομα.
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Δώσε το δικό σου όνομα</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form method="post" class="form" action="{% url 'order_change_title' order.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ονομασια</label>
                                        <input type="text" name="title" class="form-control"  placeholder="{{ order.title }}">
                                        <small id="emailHelp" class="form-text text-muted">Αλλάξτε το όνομα της παραγγελίας σας για εύκολο re-ordering</small>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success"> Αποθηκευση </button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="reOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Επανάληψη Παραγγελίας</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <h4>Προϊόντα</h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Προϊόν</th>
                                            <th>Ποσοτητα</th>
                                            <th>Συνολική Αξία</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_item in order.order_items.all %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ order_item.title }}</td>
                                                <td>{{ order_item.qty }}</td>
                                                <td>{{ order_item.tag_current_value }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                  <br><hr>
                                  <h4>Δώρα</h4>
                                  <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Προϊόν</th>
                                            <th>Ποσοτητα</th>
                                        </tr>
                                      </thead>
                                    <tbody>
                                        {% for order_item in order.gifts.all %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ order_item.product }}</td>
                                                <td>{{ order_item.qty }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                  </table>
                                  <small>Προσοχή τα δώρα μπορεί να αλλάξουν με την δημιουργία νέας Παραγγελίας, σύμγωνα με τις τρέχοντες προσφορές του site</small>
                                  <hr>
                                    <ul class="list-group">
                                        <li class="list-group-item">Διευθυνση --> {{ order.tag_address }}</li>
                                        <li class="list-group-item">Τηλέφωνο --> {{ order.profile.tag_phones }}</li>

                                    </ul>
                                  <hr>
                                  <a href="" class="btn btn-success">Δημιουργία Παραγγελιας</a>
                                    <br><br>
                                  <a href="" class="btn btn-info">Προσθήκη των προϊόντων στο καλάθι</a>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>Προϊόντα</h3>
                    <div class="row product-order-detail">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Προϊόν</th>
                                <th>Ποσότητα</th>
                                <th>Αξία</th>
                                <th>Συνολική Αξία</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in order.order_items.all %}
                                <tr>
                                    <td>{{ product }}</td>
                                    <td>{{ product.qty }}</td>
                                    <td>{{ product.tag_final_value }}</td>
                                    <td>{{ product.tag_total_value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="total-sec">
                        <ul>
                            <li>Αξία Προϊόντων <span>{{ order.tag_value }}</span></li>
                            <li>Κόστος Μεταφοράς <span>{{ order.tag_shipping_cost }}</span></li>
                            <li>Κόστος Αντικαταβολής <span>{{ order.tag_payment_cost }}</span></li>
                            <li>Έκπτωση <span>{{ order.tag_discount }}</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>Συνολο <span>{{ order.tag_final_value }}</span></h3></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summery</h4>
                        <ul class="order-detail">
                            <li>Email: {{ order.guest_email }}</li>
                            <li>Order Date: {{ order.timestamp }}</li>
                             <li>{{ profile.cellphone }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>{{ order.profile.full_name }}</li>
                            <li>{{ profile.address }} </li>
                            <li>{{ profile.city }}, {{ profile.zip_code }}</li>

                        </ul>
                    </div>
                    <br>
                    <div class="col-sm-12 payment-mode">
                        <h4>Τροπος Πληρωμής</h4>
                        <p>{{ order.payment_method }}</p>
                    </div>
                     <div class="col-sm-12 payment-mode">
                        <h4>Τροπος Αποστολής</h4>
                        <p>{{ order.shipping_method }}</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>Κατάσταση</h3>
                            <h2>{{ order.get_status_display }}</h2></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 5%" class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-12">
                {% if order.payment_method.payment_type == 'b' %}
                    <h4>Παρακαλούμε μόλις καταθέσετε τα χρήματα να μας ενημερώσετε τηλεφωνικά στο 2732022566 για άμεση αποστολή των προϊόντων.</h4>
                    <br>
                    <p>Εθνική Τράπεζα --> &nbsp;&nbsp;&nbsp;&nbsp; GR 0501104180000041893101182</p>
                    <p>Τράπεζα Πειραιώς --> GR 5401405650565002101028488</p>
                    <p>Alpha Bank --> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GR 3001713410006341128057491</p>
                    <p>Δικαιούχως -->  Κότσαλης Δημήτρης</p>

                {%  endif %}
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


{% endblock %}