{% extends 'frontend/index.html' %} {% load static %} {% load zefarak_tags %}

{% block seo_data %}
    <title>{{ site_title }} | {{ page_title }}</title>
    <meta name="description" content="Στο Black&White θα βρείτε μεγάλη ποικιλία σε καφέδες....">
{% endblock %}

{% block extra_css %}
<!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
    <style>
        .form-check-label{
            padding-left: 5px;
        }
    </style>
{% endblock %}


{% block content %}

<!-- breadcrumb start -->
<div style="margin-top: 6%" class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2></div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- section start -->
<section class="ratio_square section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <div class="top-banner-content small-section">
                                        <h4>{{ page_title }}</h4>
                                    </div>
                                </div>
                                <div class="collection-product-wrapper" >
                                    <div class="product-wrapper-grid">
                                        <div class="row infinite-container">
                                            {% for product in object_list %}
                                            <div class="col-xl-3 col-md-6 col-grid-box infinite-item">
                                                {% include 'frontend/parts/product_card.html' %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="loading">Loading...
                                        {% if page_obj.has_next %}
                                            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->

<div style="margin-bottom: 7%"></div>
{% endblock %}



{% block extra_js %}
    <!--Plugin JavaScript file-->
    
    <script src="{% static 'frontend/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'frontend/waypoints/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
                },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
                $('.add_product_modal').click(function (evt) {
                    evt.preventDefault();
                    console.log('work i thing')
                    $('#modal_area').empty();
                    const my_btn = $(this);
                    const url = my_btn.attr('data-href');
                    $.ajax({
                        method: 'GET',
                        dataType: 'json',
                        url: url,

                        success: function (data) {
                            $('#modal_area').html(data.add_modal);
                            $('#quick-view').modal('show');
                        }
                    })
    })

            }

        });
    </script>
{% endblock %}


