{% extends 'catalogue_index.html' %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-8">
                                                <h4 class="title center">Gift --> {{ object }}</h4>
                                            </div>
                                            <div class="col-4">
                                                <a href="{% url 'dashboard:gift_list' %}" class="btn btn-warning pull-right">Επιστροφη</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Προϊοντα που πέρνουν το δώρο</h4>
                                        <br>
                                        <form method="get" class="form">
                                            <input name="search_name" class="form-control" type="text" placeholder="Αναζητηση">
                                            <div class="row">
                                                {% for category in categories %}
                                                    <div class="col-3">
                                                        <div class="form-check">
                                                            <input name='cate_name' value="{{ category.slug }}" type="checkbox" class="form-check-input" id="cateCheck_{{ category.id }}">
                                                            <label class="form-check-label" for="cateCheck_{{ category.id }}">{{ category }}</label>
                                                        </div>
                                                    </div>
                                            {% endfor %}
                                            </div>

                                            <hr>
                                            <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> </button>
                                            <a  href="{{ request.path }}" class="btn btn-warning">Καθαρισμος Φιλτρων </a>
                                        </form>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Προϊον</th>
                                                    <th>Αξία</th>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for product in queryset %}
                                                    <tr>
                                                        <td>{{ product }}</td>
                                                        <td>{{ product.tag_final_price }}</td>
                                                        <td>
                                                            <button data-href='{% url "dashboard:ajax_modify_gift" object.id product.id "add" %}' type="button" class="btn btn-success modify_button"><i class="fa fa-plus"></i> </button>
                                                            <a href="{% url 'dashboard:add_gift_view' object.id product.id %}"  class="btn btn-primary right pull-right"><i class="fa fa-gift pull-right"></i> </a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h6>Επεξεργασια</h6>
                                        <form class="form" method="post">
                                            {% csrf_token %}
                                            {{ form }}
                                            <br>
                                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card" id="result_container">
                                    {% include 'dashboard/ajax_calls/ajax_gift.html' %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $('.modify_button').click(function (evt) {
            evt.preventDefault();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                dataType: 'json',
                url: url,
                method: 'GET',
                
                success: function (data) {
                    $('#result_container').html(data.result)
                }
            })
        })
    </script>



{% endblock %}