<!-- footer --> {% load static %}
<footer class="full-scroll-footer">
    <div style="background-color: #6e6e6e;color: white; " class="sub-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p>
                            <a href="{% url 'terms_rules_view' %}" style="color: white">Όροι χρήσης</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom text-right">
                        <p style="color: white">Delivery 7:30 π.μ. - 8:30 π.μ. Τηλεφωνο: 27320 22204</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
