<!-- header start --> {% load static %}
<!-- header start -->
<header class="full-scroll-menu">
    <div class="mobile-fix-option"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="navbar">
                            <a href="javascript:void(0)" onclick="openNav()">
                                <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
                            </a>
                            <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                <nav>
                                    <div onclick="closeNav()">
                                        <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
                                    </div>
                                    <!-- Vertical Menu -->
                                    <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                        <li><a href="{% url 'homepage' %}">Αρχικη Σελιδα</a> </li>
                                        {% for category in parent_categories %}
                                        <li><a href="{{category.get_absolute_url }}">{{ category }}</a>
                                            <ul class="mega-menu clothing-menu">
                                                <li>
                                                    <div class="row m-0">
                                                    {% for children in category.get_childrens %}
                                                        <div class="col-xl-4">
                                                            <div class="link-section">
                                                                <h5>{{ children.name }}</h5>
                                                                <ul>
                                                                    {% for grand_children in children.get_childrens %}
                                                                        <li><a href="{{ grand_children.get_absolute_url }}">{{ grand_children.name }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                         {% endfor %}
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        <li><a href="{% url 'blog:homepage' %}">Blog</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="brand-logo">
                            <a href="{% url 'homepage' %}">
                                <img src="{% static 'frontend/my_assets/logo.jpg' %}" class="img-fluid blur-up lazyload" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-search">
                                        <div>
                                            <img src="{% static 'frontend' %}/assets/images/icon/search.png" onclick="openSearch()" class="img-fluid blur-up lazyload" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                        <div id="search-overlay" class="search-overlay">
                                            <div><span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-setting">
                                        <div><img src="{% static 'frontend' %}/assets/images/icon/setting.png" class="img-fluid blur-up lazyload" alt=""> <i class="ti-settings"></i></div>
                                        <div class="show-div setting">
                                            <h6>language</h6>
                                            <ul>
                                                <li><a href="#">english</a></li>
                                                <li><a href="#">french</a></li>
                                            </ul>
                                            <h6>currency</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">euro</a></li>
                                                <li><a href="#">rupees</a></li>
                                                <li><a href="#">pound</a></li>
                                                <li><a href="#">doller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div><img src="{% static 'frontend' %}/assets/images/icon/cart.png" class="img-fluid blur-up lazyload" alt="">
                                            <i class="ti-shopping-cart"></i>
                                        </div>
                                        <ul class="show-div shopping-cart">
                                            {% for cart_item in cart.order_items.all %}
                                            <li>
                                                <div class="media">
                                                    <a href="{{ cart_item.product.get_absolute_url }}">
                                                        {% if cart_item.product.image %}
                                                        <img class="mr-3" src="{{ cart_item.product.image.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'frontend/demo_images/no_image.png' %}">
                                                        {% endif %}
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>{{ cart_item }}</h4>
                                                        </a>
                                                        <h4><span>{{ cart_item.qty }} x {{ cart_item.tag_final_value }}</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle">
                                                    <a href="{% url 'delete_from_cart' cart_item.id %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            {% if cart.cartsubscribe %}
                                                <li>
                                                    <div class="total">
                                                        <h5>{{ cart.cartsubscribe }} : <span>{{ cart.cartsubscribe.tag_value }}</span></h5>
                                                    </div>
                                                </li>
                                            {% endif %}

                                            <li>
                                                <div class="total">
                                                    <h5>Συνολο : <span>{{ cart.tag_final_value }}</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons">
                                                    <a href="{% url 'cart_view' %}" class="view-cart">view cart</a>
                                                    <a href="{% url 'checkout_view' %}" class="checkout">checkout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!-- header end -->